* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f1ca75;
}

h1 {
    color: rgb(0, 20, 150);
    position: relative;
    top: 25px;
    text-align: center;
}

p {
    padding-bottom: 1000px;
}

a {
    color: maroon;
    font-weight: normal;
    text-decoration-line: none;
}

a:hover {
    color:rgb(0, 20, 150);
}

.nav-bar {
    background-color: rgb(67, 90, 243);
    width: 100%;
    height: 25px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px;
}